@page "/exercises/{region}"
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject ILogger<ExerciseByRegion> Logger
@inject NavigationManager Navigation

<PageTitle>@_title</PageTitle>
<HeaderRowWithButton HeaderText="@_title" Route="/exercise" ButtonText="Back to exercises"/>


@if (_isLoading)
{
    <LoadingSpinner />
}
else if (_exercises == null || !_exercises.Any())
{
    <p>No exercises found for @Region.</p>
}
else
{
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
        @foreach (var exercise in _exercises)
        {
            <div class="card bg-shadow-gray position-relative">
                <div class="card-body">
                    <h5 class="card-title">@exercise.Name</h5>
                    <p class="card-text">
                        <strong>Category:</strong> @exercise.Category<br/>
                        <strong>Body Region:</strong> @exercise.BodyRegion
                    </p>
                </div>
                <button
                    class="btn btn-sm position-absolute top-0 end-0 m-2"
                    @onclick="() => Edit(exercise.Id)"
                    style="background: none; border: none; font-size: 1.2em; line-height: 1;"
                    title="Edit exercise">
                    ⋯
                </button>
            </div>
        }
    </div>
    <br/>
}
<button @onclick="AddExercises" type="button" class="btn btn-primary">Add Exercise</button>

@code {
    [Parameter]
    public string Region { get; set; } = string.Empty;
    
    private IEnumerable<ExerciseDto>? _exercises;
    private bool _isLoading = true;
    private string _title = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var http = HttpFactory.CreateClient("ApiClient");
            _exercises = await http.GetFromJsonAsync<IEnumerable<ExerciseDto>>($"/v1/exercises/getExerciseByBodyRegion/{Region}");
            
            _title = $"{StringHelper.Capitalize(Region)} Exercises";
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error fetching exercises for region {Region}", Region);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private void Edit(int id)
    {
        Navigation.NavigateTo($"/exercise/edit/{id}");
    }
    
    private void AddExercises()
    {
        Navigation.NavigateTo($"/exercise/new/");
    }
}
